.sliding-window-page {
	position: relative;
	height: calc(100% - 52px);
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.usecase-container {
	width: 60vw;
	margin: 0px 20px;
}
